<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="mx.croma.news.android" android:versionCode="1004" android:versionName="1.0.0.4">
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:icon="@drawable/bnclogo" android:label="@string/app_name" android:theme="@android:style/Theme.Light.NoTitleBar">
		<activity android:name=".Dashboard" android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

		<activity android:name=".IndicadoresEconomicos"></activity>
		<activity android:name=".CromaNews"></activity>
		<activity android:name=".ListaNoticias"></activity>
		<activity android:name=".DetalleNoticia"></activity>
		<activity android:theme="@android:style/Theme.Black" android:name=".graphics.AChartEngineSampleActivity"/>
		<activity android:theme="@android:style/Theme.Black" android:name=".graphics.BarChartSample"/>
		<activity android:name=".Share"/>
		<activity android:name=".FacebookDialog"/>
	</application>


</manifest> 